<!doctype html>
<title> {% block title %} 图书管理系统 {% endblock %} </title>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel=stylesheet type=text/css href="/static/css/style.css">
<script type="text/javascript" src='/static/tiny_mce/tiny_mce.js'></script>
<script type="text/javascript">
    tinyMCE.init({
    'mode':'textareas',
    'theme':'advanced',
    'width':400,
    'height':100
    });
</script>
{% block linkcss %}
{% endblock %}

<div class="page">
  <h1>图书管理系统</h1>
  <div class="navigation">
      {% block link %}
      {% endblock %}
  </div>
  <div class="body">
      {% block body %}
      {% endblock %}
   </div>
  <div class="footer">
     &mdash; 华中科技大学
  </div>
</div>
    
